html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Hello!
        if user
          p Welcome, #{user.fullName}
          p
            a.small(href="grades") Update Grades
          a.btn.btn-primary(href="/logout") Logout
          div.container
            h2 Grades:
            div.container

            h2 Times:
            div.container

        else
          p Welcome to Trackr, are you ready to view your progress as a Student-Athlete running track?
          p
            a.btn.btn-primary(href="/login") Login now
          p
            span.small Don't have an account?
            span &nbsp;
            a.small(href="/register") Register now